.main-user-wrapper {

  .main-user {
    padding: 100px;

    @media screen and (max-width: 900px) {
      padding: 100px 15px;
    }

    .content {
      width: 100%;
      width: -moz-available;
      width: -webkit-fill-available;
      width: stretch;
    }

    .nav_user_panel {

      button {
        margin-bottom: 20px;
        min-width: 160px;
        display: flex;
        color: inherit;

        @media screen and (max-width: 900px) {
          min-width: auto;
        }

        i {
          width: 20px;
          font-size: 30px;
          margin-right: 20px;
        }
      }
    }
  }

  .section-content {
    padding-left: 45px;

    .user-information-wrapper {

      .user-header,
      .user-main {
        align-items: center;
        padding: 55px 0px;
        border-bottom: 1px solid #595959;
        padding-left: 30px;

        .under-name {
          margin-top: 30px;
          font-size: 22px;
        }

        .user-header--logo {
          border-radius: 50px;
          width: 100px;
          margin-right: 20px;
        }

        .user-header--alternative {
          border-radius: 0px;
          width: 100px;
          margin-right: 20px;
        }
      }

      .user-main {
        .contact-wrapper {
          display: flex;
          flex-direction: column;
        }

        a {
          color: inherit;
          margin: 10px 0px;
        }
      }
    }

    .single-observed--user-panel {
      margin: 50px 0px;
      padding-left: 10px;
      border-left: 1px solid #af9668;
      border-bottom: 1px solid transparent;
      padding: 10px;
      transition: all ease-in .3s;
      -webkit-transition: all ease-in .3s;
      -moz-transition: all ease-in .3s;
      -ms-transition: all ease-in .3s;
      -o-transition: all ease-in .3s;

      .row {
        position: relative;

        @media screen and (max-width: 785px) {
          flex-direction: column;
        }
      }

      .offer-logo {
        width: 300px;
        max-height: 220px;
      }

      .details {
        padding-left: 30px;

        @media screen and (max-width: 785px) {
          padding: 20px 0px;
        }

        p {
          margin-bottom: 0.4rem;
        }

        .owner-details {

          @media screen and (min-width: 870px) {
            position: absolute;
            bottom: 0px;
          }


          .owner-logo {
            height: 50px;
            border-radius: 50px;
            margin-right: 20px;
          }

          .owner-details--contact {
            display: flex;
            flex-direction: row;
            align-items: center;

            a {
              color: #c2f9df;
              font-size: 15px;
            }

            p {
              margin-bottom: 0px;
            }
          }
        }
      }
    }

    .single-observed--user-panel:hover {
      border-bottom: 1px solid transparent;
      border-image: linear-gradient(to right, #af9668, #35350c);
      border-image-slice: 100%;
      border-image-slice: 1;
    }
  }

  .section-content--offers {
    margin-left: 5%;

    .section-title {
      margin-top: 50px;
    }

    .single {
      margin: 30px 0px;
      padding-left: 10px;
      border-left: 1px solid #af9668;
      border-bottom: 1px solid transparent;
      padding: 10px;
      transition: all ease-in .3s;
      -webkit-transition: all ease-in .3s;
      -moz-transition: all ease-in .3s;
      -ms-transition: all ease-in .3s;
      -o-transition: all ease-in .3s;


      .row {
        position: relative;

        @media screen and (max-width: 785px) {
          flex-direction: column;
        }
      }

      .offer-logo {
        width: 300px;
        max-height: 220px;
      }

      .details {
        padding-left: 30px;

        h2 {
          font-size: 45px;
          font-weight: 500;
        }

        h3 {
          color: #c2f9df;
        }

        .item1 {
          color: #b6cac1;
        }

        .item2 {
          color: #848484;
        }

        .item3 {
          color: #5e5e5e;
        }

        @media screen and (max-width: 785px) {
          padding: 20px 0px;
        }

        p {
          margin-bottom: 0.4rem;
        }
      }
    }

    .single:hover {
      border-bottom: 1px solid transparent;
      border-image: linear-gradient(to right, #af9668, #35350c);
      border-image-slice: 100%;
      border-image-slice: 1;
    }
  }
}




// main sells page style global 

.auto-complete {
  position: relative;

  .input-sels {
    background-color: #505767;
    border: none;
    box-shadow: none;
    border-radius: 15px;
    padding: 10px 45px 10px 30px;
    color: #bcced3;
    height: auto;
    width: 340px;
    font-size: 22px;

    @media (max-width: 400px) {
      width: 280px;
    }
  }

  .input-sels:focus {
    background-color: #505767;
    border: none;
    outline: none;
  }

  button {
    position: absolute;
    top: 10px;
    right: 10px;

    i::before {
      font-size: 22px;
      color: #bcced3;
    }
  }
}

// search input style

.pac-container {
  background-color: rgb(80, 87, 103) none repeat scroll 0% 0% !important;
  border: none;

  ::after {
    display: none;
  }
}

.pac-logo {
  background-color: rgb(80, 87, 103) none repeat scroll 0% 0% !important;
}

.pac-logo::after {
  display: none;
}

.pac-container,
.pac-item {
  background-color: rgb(80, 87, 103) !important;
}

.sales-wrapper {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .title-result {
    text-align: center;
    margin-bottom: 40px;
    color: #af9668 !important;
    margin-top: 5px;
  }

  .error-find-item {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}



// footer global style

.footer {
  background-color: rgba(0, 0, 0, 0.88);
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;

  span {
    font-size: 13px;
  }
}



.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-active {
  opacity: .9;
}

.sale-wrapper {
  background-color: #3b4350;
  min-height: 100vh;
}

.button.hollow:focus,
.button.hollow:hover {
  border: none;
  color: inherit;
}

a:hover,
a:focus,
a,
.nav-link {
  color: white;
  text-decoration: none;
  border: none;
}

/* nav */

.row {
  margin: 0px;

}

.navigation {
  height: 50px;
  background-color: inherit;
  z-index: 9;
  position: fixed;
  top: 0px;
  width: 100%;
  justify-content: center;
  max-width: 100%;
  background: rgba(0, 0, 0, 0.89);
  z-index: 99999;
  -webkit-box-shadow: 0px 7px 32px -8px rgba(0, 0, 0, 0.89);
  -moz-box-shadow: 0px 7px 32px -8px rgba(0, 0, 0, 0.89);
  box-shadow: 0px 7px 32px -8px rgba(0, 0, 0, 0.89);
}

.main-nav {
  justify-content: center;
}

.login-nav {
  position: absolute;
  right: 0px;
}

.nav-link {
  color: white !important;
  outline: none;
}

.nav-home {
  color: #af9668 !important;
}

.main-wrapper {}

.logo-user-nav {
  max-height: 30px;
  margin-right: 5px;
}

.login-nav {


  &__panel {
    position: absolute;
    top: 50px;
    right: 0px;
    min-width: 200px;
    // background: rgb(106,122,136);
    // background: linear-gradient(8deg, rgba(106,122,136,0) 30%, rgba(0,0,0,0.875770376509979) 70%); 

    background: rgb(255, 255, 255);
    background: linear-gradient(14deg, rgba(255, 255, 255, 0) 43%, rgba(0, 0, 0, 1) 100%);

    >ul {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;

      li {
        list-style: none;

        button {
          color: #9d9d9d;
          display: flex;
          align-items: center;

          &:hover {
            color: white;
          }

          i {
            margin-right: 10px;
            width: 25px;
          }
        }
      }
    }
  }
}

.login-nav button {
  padding: 0;
  padding-right: 30px;
  height: 40px;
  margin: 0;
  min-width: 100px;
  border: none;
  color: #af9668;
  font-size: 18px;
}



/* home */

.header {
  background-image: url('../../static/home_01.png');
  background-position: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0px;
  padding-top: 40px;
  z-index: 1;
}

h1 {
  color: white;
  text-align: center;
}

span {
  color: #af9668;
}

.home-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.77);
  z-index: -1;
}

.home-btn {
  margin: 30px 0px;
  padding: 14px 45px;
  border: 1px solid #af9668;
  color: #af9668;
  border-radius: 8px;
  font-size: 18px;
}




/* user details page */

.main-user-wrapper {
  min-height: 100vh;
  background-color: #3b4350;
}

.main-user {
  display: flex;
  flex-direction: row;
}

.nav_user_panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}



/* offer new */

.offer-wrapper {
  min-height: 100vh;
  background-color: #3b4350;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.offer-wrapper .main-title {
  font-size: 42px;
  text-align: center;
}

.offer-generator {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 70px;
  justify-content: center;
}

.sale-create-element {
  background-image: url('../../static/place-sale.jpg');
  width: 400px;
  height: 250px;
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 10px;

}

.rent-create-element {
  background-image: url('../../static/place-rent.jpg');
  width: 400px;
  height: 250px;
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 10px;
}

.sale-create-element .dimmed,
.rent-create-element .dimmed {
  width: 100%;
  height: 100%;
  background: #000000c7;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all ease-in-out .3s;
  -webkit-transition: all ease-in-out .3s;
  -moz-transition: all ease-in-out .3s;
  -ms-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
}

.sale-create-element:hover .dimmed,
.rent-create-element:hover .dimmed {
  background: rgba(0, 0, 0, 0.5);
}

.sale-create-element .content,
.rent-create-element .content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offer-create-title {
  color: #af9668;
  font-size: 40px;
}

.button-generate {
  padding: 8px 45px;
  color: white;
  font-size: 18px;
  border: 1px solid #af9668;
  margin-top: 20px;
  border-radius: 6px;
  transition: all ease-in-out .3s;
  -webkit-transition: all ease-in-out .3s;
  -moz-transition: all ease-in-out .3s;
  -ms-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
}

.button-generate:hover,
.button-generate:focus {
  background: #000000c7;
}

/* new offer generator
sales
*/
.module {
  margin: 20px 0px;
}

.main-generator {
  min-height: 100vh;
  background-color: #3b4350;
  display: flex;
  flex-direction: column;
  padding: 100px;
  position: relative;
}

.col-wrap {
  display: flex;
  flex-direction: column;
}

.photo-module {
  position: relative;
}

.img-preloader {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.9);
  align-items: center;
  border-radius: 10px;
}

.loader-title {
  color: white;
}

.loading.loading-lg::after {
  border: .1rem solid white;
  border-top-color: white;
  border-right-color: white;
  border-bottom-color: white;
  border-left-color: white;
  border-top-color: rgb(255, 255, 255);
  border-right-color: #af9668;
  border-bottom-color: #af9668;
  border-left-color: #af9668;
}

.uploaded-img-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}

.img-uploaded {
  width: 300px;
  height: 180px;
  margin-right: 20px;
}



.details-photo-preview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.show-preview-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.discard-change,
.accept-change {
  margin: 0px 25px;
}

.discard-change {
  border-color: black;
  color: black;
}

.is-logged-panel {
  position: absolute;
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  background: #000000c4;
  justify-content: center;
  top: 0px;
  align-items: center;
  min-height: 100vh;
  bottom: 0px;
  left: 0px;
}

.sending-panel img {
  width: 50px;
}

.progress {
  background: white !important;
  height: 5px;
}

.progress::-moz-progress-bar {
  background: #af9668 !important;
  height: 5px;
}


/* gmap on single details */

.g_map {
  width: 300px;
  height: 700px;

    @media (max-width: 600px) {
       height: 400px;
    }
    @media (max-width: 350px) {
      height: 400px;
      width: 250px;
   }
}

.vue-map {
  overflow: hidden;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

.map-wrapper-single {
  overflow: hidden;
  border-radius: 20px;
}



// user login / register

.user-login-register {

  .main-content {
    min-height: calc(100vh - 50px);
    padding-top: 100px;
    background-color: #3b4350;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;

    .title {
      text-align: center;
      margin-bottom: 30px;
    }

    .forms-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      form {
        margin-top: 20px;
        margin-bottom: 50px;

        .cell {
          width: 340px;
          
          @media (max-width:400px) {
            width: 300px;
          }
        }

        label {
          position: relative;

          i {
            position: absolute;
            top: 15px;
            left: 15px;
            font-size: 20px;
            color: #3c3b3b;
          }
        }

        input {
          background-color: #505767;
          border: none;
          box-shadow: none;
          border-radius: 15px;
          padding: 10px 45px 10px 50px;
          color: #bcced3;
          height: auto;
          width: 340px;
          font-size: 22px;

          @media (max-width:400px) {
            width: 300px;
          }
        }

        div>.column {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }


  }
}

// USER SETTINGS

.main_settings {
  min-height: 100vh;
  background-color: #3b4350;
  padding-top: 100px;

  input {
    background-color: #505767;
    border: none;
    box-shadow: none;
    border-radius: 15px;
    padding: 10px 45px 10px 30px;
    color: #bcced3;
    height: auto;
    width: 340px;
    font-size: 22px;

    &:focus {
      background-color: #3d4149
    }
  }

  .user-header {
    .button-generate {
      margin-right: 65px;
    }
  }

  .single {
    max-width: max-content;
    position: relative;
    min-width: 500px;

    .row {
      display: flex;
      //justify-content: center;
      align-items: center;

      .logo-single {
        width: 150px;
      }

      p {
        margin: 0px 10px;
      }
    }

    &:hover .remove-content {
      display: flex;

    }

    .remove-content {
      display: none;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: rgba(12, 12, 12, 0.836);
      justify-content: center;
      align-items: center;

      .button-generate {
        margin-top: 0px;
      }
    }
  }
}


/* google maps */

.g-maps {
  position: relative;
}

.prev-sing-g-maps {
  position: absolute;
  top: 20px;
  right: 90px;
  background: #505767;
  border-radius: 20px;
  padding: 15px;

  .top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    figure{
      margin: 0px 15px 0px 0px;
    }
  }
  .bottom{
    display: flex;
    justify-content: space-between;

    .button-generate{
      padding: 8px 20px;
    }
  }
  .preview-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    background-color: #505767;
    padding: 0px;
    border-radius: 20px;
    margin-top: 0px;
    height: max-content;

    p {
      font-size: 15px;
      margin: 0;
          margin-bottom: 0px;
      margin-bottom: 7px;
    }
  }
}

.visible {
  display: block;
}

.img-preview-icon {
  width: 100px;
}

/* MEDIA MENU */

@media screen and (max-width: 786px) {
  .main-nav{
    display: none;
  }

  .mobile-menu{
    width: 100%;

    .top-panel{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 0px 15px;
      height: 50px;

      .burger-btn{
        color: #af9668;
        font-size: 24px;
        padding-right: 15px;
      }
    }
    .bottom-panel{
      display: flex;
      flex-direction: column;
      height: 100vh;
      background: #000000fa;
      padding-left: .8rem;
      padding-top: 1rem;

      .login-nav{
        margin: 0px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &__panel{
          position: relative;
          top: 0px;
        }
      }
      .nav-link{
        padding-bottom: 25px;
      }
    }
  }
}
@media screen and (min-width: 787px) {

  .mobile-menu{
    display: none;
  }
}

// new offer 

.item-new-offer div{
  input, textarea{
    background-color: #505767;
    border: none;
    box-shadow: none;
    border-radius: 15px;
    padding: 10px 45px 10px 30px;
    color: #bcced3;
    height: auto;
    width: 340px;
    font-size: 22px;
  }
}


// header

.header-content{
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 787px) {
    padding-top: 100px;
  }
}
.dimmed{
  position: absolute;
  height: 400px;
  width: 100%;
  top: 0px; 
  z-index: 1; 
  background: rgba(255,255,255,0);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(206,208,211,0) 25%, rgba(59,67,80,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(25%, rgba(206,208,211,0)), color-stop(100%, rgba(59,67,80,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(206,208,211,0) 25%, rgba(59,67,80,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(206,208,211,0) 25%, rgba(59,67,80,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(206,208,211,0) 25%, rgba(59,67,80,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(206,208,211,0) 25%, rgba(59,67,80,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#3b4350', GradientType=0 );
}
.title{
  color: #c2f9df;
  font-weight: 500;
  font-size: 56px;
  text-shadow: 1px 1px 25px rgb(0, 0, 0);
}

.input-search-wrapper{
  position: relative;
  margin-top: 40px;
}


// single offer

.single-wrapper__details{
  background-color: #3b4350;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
  min-height: 100vh;
  padding-bottom: 50px;
  position: relative;

  @media (max-width: 700px) {
     padding-left: 20px;
     padding-right: 20px;
  }
}

// img slider

.full-width-slider{
  &__slider{

    @media (max-width: 600px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      align-items: center;

      button{
        padding: 5px;
      }
    }
    
    .img-max-width{
      max-width: 700px;

      @media (max-width: 840px) {
        max-width: 500px;
      }
      @media (max-width: 740px) {
        max-width: 300px;
      }
      @media (max-width: 430px) {
        max-width: 240px;
      }
      @media (max-width: 380px) {
        max-width: 200px;
      }
    }
  }

  .bottom-prev{
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
  .thumbnail{
      width: 80px;
      height: 60px;
      margin: 5px 15px;
  }
  .close{
      position: absolute;
      top: 5%;
      right: 5%;
      color: white;
      z-index: 9999999;
      font-size: 40px;

      @media (max-width: 600px) {
        top: 1%;
      }
  }
  .arrow{
      border: none;
      color: white;
      font-size: 30px;
      padding: 10px;
  }
  .button.hollow, .button.hollow:focus, .button.hollow:hover {
      border: none;
  }
}





.slider-img__main{
  position: relative;
  padding-right: 40px;  
  @media (max-width: 787px) {
    padding-right: 0px;
  }  

  .img-element{
    width: 600px;
    border-radius: 20px;
    max-height: 400px;
  }
  .button{
    border: none;
  }
  .arrow{
    font-size: 35px;
    color: #3b4350;
  }
  
  .slider-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
  }
  .slider-btn-left{
    position: absolute;
    left: 0px;
    height: 97%;
    width: 10%;
    margin: 0px;
    padding: 0px;
  }
  .slider-btn-right{
    position: absolute;
    right: 0px;
    height: 97%;
    width: 10%;
    margin: 0px;
    padding: 0px;
  }
  .pagination{
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 50px;
  }
  
  .pagination a:hover, .pagination button:hover {
    background: #fff0;}
  
}
.close{
  position: absolute;
  top: 5%;
  right: 5%;
  color: white;
  z-index: 9999999;
  font-size: 40px;

  @media (max-width: 600px) {
    top: 1%;
  }
}
.img-full-screen{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  min-height: 100%;
  z-index: 9;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 99999;
  padding: 20px;
  overflow: hidden;
  overflow-x: hidden; 
  overflow-y: auto;
  padding-top: 70px;
}

// contact wrapper


.single-contact-wrapper{
  max-width: 600px;
  margin-top: 40px;

  .title-contact{
    font-size: 32px;
    color: #c2f9df;
  }
  
  .contact-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: #505767;
    padding: 20px;
    border-radius: 20px;
    margin-top: 30px;

    @media (max-width:500px) {
      flex-direction: column;
    }
  }
  .wrapper-contact{
    position: relative;
  }
  .contact-img{
    width: 72px;
    height: 72px;
    border-radius: 100px;
  }
  .side-img {
    cursor: pointer;
  }
  
  .name p{
    margin: 0;
    color: #86959c;
    font-size: 20px;
    margin-left: 15px;
    margin-bottom: 5px;
  }
  
  .calendar{
    border: none;

    @media (max-width:500px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 30px;
    }
  }
  
  .calendar p{
    font-size: 20px;
    color: #c2f9df;
  }
  .mx-input-wrapper input{
    background-color: inherit;
    color: #c2f9df;
    border-color: #3b4350;
  }
  .mx-input:hover, .mx-input:focus{
    background-color: inherit;
  }
  .mx-icon-calendar, .mx-icon-clear{
    color: #86959c;
    font-size: 16px;
    top: 38%;
  }
  .contact-details{
    position: absolute;
    top: 0px;
    background: #353535e6;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
  }
  .contact-bottom{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: c;
    justify-content: space-between;
    align-items: baseline;
    padding: 0px 20px;
    
    @media (max-width:500px) {
      flex-wrap: wrap;
      padding: 0px;
    }
  }
  .contact-bottom button{
    background-color: #505767;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 18px;
  }
  .close-preview-contact{
    position: absolute; 
    top: 5px;
    right: 25px;
    font-size: 30px;
    color: #acacacbf;
  }
  .phone button, .email button{
    margin: 15px;
    width: 250px;
    background-color: #86959c;
    border-radius: 10px;
  }


}
