.main-user-wrapper {

    .main-user {
        padding: 100px;

        @media screen and (max-width: 900px) {
            padding: 100px 15px;
        }

        .content {
            width: 100%;
            width: -moz-available;
            width: -webkit-fill-available;
            width: stretch;
        }

        .nav_user_panel {

            button {
                margin-bottom: 20px;
                min-width: 160px;
                display: flex;
                color: inherit;

                @media screen and (max-width: 900px) {
                    min-width: auto;
                }

                i {
                    width: 20px;
                    font-size: 30px;
                    margin-right: 20px;
                }
            }
        }
    }

    .section-content {
        padding-left: 45px;

        .user-information-wrapper {

            .user-header,
            .user-main {
                align-items: center;
                padding: 55px 0px;
                border-bottom: 1px solid #595959;
                padding-left: 30px;

                .under-name {
                    margin-top: 30px;
                    font-size: 22px;
                }

                img {
                    border-radius: 50px;
                    width: 100px;
                    margin-right: 20px;
                }
            }

            .user-main {
                .contact-wrapper {
                    display: flex;
                    flex-direction: column;
                }

                a {
                    color: inherit;
                    margin: 10px 0px;
                }
            }
        }

        .single-observed--user-panel {
            margin: 50px 0px;
            padding-left: 10px;
            border-left: 1px solid #af9668;
            border-bottom: 1px solid transparent;
            padding: 10px;
            transition: all ease-in .3s;
            -webkit-transition: all ease-in .3s;
            -moz-transition: all ease-in .3s;
            -ms-transition: all ease-in .3s;
            -o-transition: all ease-in .3s;

            .row {
                position: relative;

                @media screen and (max-width: 785px) {
                    flex-direction: column;
                }
            }

            .offer-logo {
                width: 300px;
                max-height: 220px;
            }

            .details {
                padding-left: 30px;

                @media screen and (max-width: 785px) {
                    padding: 20px 0px;
                }

                p {
                    margin-bottom: 0.4rem;
                }

                .owner-details {

                    @media screen and (min-width: 870px) {
                        position: absolute;
                        bottom: 0px;
                    }


                    .owner-logo {
                        height: 50px;
                        border-radius: 50px;
                        margin-right: 20px;
                    }

                    .owner-details--contact {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        a {
                            color: #c2f9df;
                            font-size: 15px;
                        }

                        p {
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }

        .single-observed--user-panel:hover {
            border-bottom: 1px solid transparent;
            border-image: linear-gradient(to right, #af9668, #35350c);
            border-image-slice: 100%;
            border-image-slice: 1;
        }
    }
}




// main sells page style global 

.auto-complete{
    position: relative;

    .input-sels{
        background-color: #505767;
        border: none;
        box-shadow: none;
        border-radius: 15px;
        padding: 10px 45px 10px 30px;
        color: #bcced3;
        height: auto;
        width: 340px;
        font-size: 22px;
      }
      .input-sels:focus{
        background-color: #505767;
        border: none;
        outline: none;
      }

    button{
        position: absolute;
        top: 10px;
        right: 10px;

        i::before{
            font-size: 22px;
            color: #bcced3;
        }
    }
}

// search input style

.pac-container{
    background-color: rgb(80, 87, 103) none repeat scroll 0% 0%;
    border: none;
    ::after{
        display: none;
    }
}
.pac-logo::after{
    display: none;
}


.sales-wrapper {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .title-result {
        text-align: center;
        margin-bottom: 40px;
        color: #af9668 !important;
        margin-top: 5px;
    }
    .error-find-item{
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



// footer global style

.footer{
    background-color: rgba(0, 0, 0, 0.88);
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;

    span{
        font-size: 13px;
    }
}